/* Dark mode colors */
:root {
	--sl-color-accent-low: #1e2235;
	--sl-color-accent: #5c7aff;
	--sl-color-accent-high: #c0d3ff;
	--sl-color-white: #f5f7ff;
	--sl-color-gray-1: #d0d4e0;
	--sl-color-gray-2: #a5abc0;
	--sl-color-gray-3: #7c829c;
	--sl-color-gray-4: #545a72;
	--sl-color-gray-5: #363b4f;
	--sl-color-gray-6: #1e2230;
	--sl-color-black: #0f111a;
}

/* Light mode colors */
:root[data-theme='light'] {
	--sl-color-accent-low: #dee6ff;
	--sl-color-accent: #3a57d3;
	--sl-color-accent-high: #243170;
	--sl-color-white: #0f111a;
	--sl-color-gray-1: #1e2230;
	--sl-color-gray-2: #363b4f;
	--sl-color-gray-3: #545a72;
	--sl-color-gray-4: #7c829c;
	--sl-color-gray-5: #a5abc0;
	--sl-color-gray-6: #d0d4e0;
	--sl-color-gray-7: #f5f7ff;
	--sl-color-black: #ffffff;
}
